.List {
  padding: 30px;
}

.user-management {
  position: absolute;
}

input, select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

Form {
  background-color: #222;
  padding: 20px;
  color: white;
}

.button {
    background-color: rgba(237, 179, 68, 0.30);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: rgba(237, 179, 68, 0.70); /* Green */
    color: white;
}

.delete {
    background-color: rgba(235, 197, 124, 1);
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.delete:hover {
    background-color: rgba(237, 179, 68, 1); /* Green */
    color: white;
}

table {
  background-color: #ffffff;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

th, td {
    text-align: left;
    padding: 5px;
}

td:nth-child(5){background-color: #222; width:15px}
th:nth-child(5){background-color: #222}

tr:nth-child(even){background-color: rgba(237, 179, 68, 0.30)}
tr:not(.nohover):hover {background-color: rgba(237, 179, 68, 0.55)}

th {
    background-color: #000000;
    color: white;
}

.App {
  text-align: center;
  background-color: #222;
  min-height: 100vh;
  max-height: 100%;
  margin: 0
}

.box {
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 170px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.user-profile {
  width: 150px;
  height: 100px;
}

.user-profile img {
  border-radius: 50%;
  max-width: 75%;
}
